* {
    box-sizing: border-box;
 }

 body{
    margin: 0
 }
/* container */
.container {
    max-width: 1200px;
    height: auto;
    margin: auto;
    padding: 20px;
 }

 .flex {
    display: flex;
    align-items: center;
    justify-content:left;
 }


 /* Header style and logo sizing*/
 .header {
    width: 100%;
    height: 120px;
    background-color: black;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding:2px;
 }

 .header > .logo > img{
   width: 100px;
 }

.header > .logo {
   width: 120%;
}


/* Styling the navbar elements inside the header*/
.header > .navbar > a {
    margin:10px;
    display: flex;
    text-decoration: none;
    color: white;
    text-align: center;
    margin-right: 6rem;
 }

/*styling the text in the header*/
 .header , h1{
    margin-right: 7rem;
    text-align: left;
    margin-left:0;
 }

 /* Grid styling*/
    
.grid {
     width: 100%;
     height: auto;
     display: grid;
     padding: 10px;
     grid-gap: 15px;
     grid-template-columns: repeat(2,1fr);
     grid-auto-rows: minmax(200px,auto);
}

.grid-item {
   background-color: rgb(249, 249, 213);

}



